<h2>Resumo da Reserva</h2>
<p><strong>Quarto escolhido: </strong><%= @room_name %></p>
<p><strong>Data de entrada: </strong><%= l(@checkin_date) %> - 
    <strong>Horário de checkin: </strong><%= l(@guesthouse.check_in, format: "%H:%M") %></p>
<p><strong>Data de saída: </strong><%= l(@checkout_date) %> - 
    <strong>Horário de checkout: </strong><%= l(@guesthouse.check_out, format: "%H:%M")%></p>
<p><strong>Valor total das diárias: </strong><%= number_to_currency(@total_price, unit: "R$", separator: ",", delimiter: ".") %></p>
<p><strong>Meios de pagamento aceitos pela pousada: </strong><%= @guesthouse.payment_method %></p>
<p><strong>Atenção: </strong>Após a reserva ser confirmada, ela pode ser cancelada até 7 dias antes da data agendada para o check-in.</p>
<%= button_to 'Confirmar Reserva', room_bookings_path(room_id: @room_id), method: :post%>