<section>
  <h2>Minhas Reservas</h2>
  <table style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr>
        <th style="text-align: center; padding: 5px;">Código da Reserva</th>
        <th style="text-align: center; padding: 5px;">Quarto Reservado</th>
        <th style="text-align: center; padding: 5px;">Data de entrada</th>
        <th style="text-align: center; padding: 5px;">Data de saída</th>
        <th style="text-align: center; padding: 5px;">Número de hóspedes</th>
      </tr>
    </thead>
    <tbody>
      <% @my_bookings.each do |my_booking| %>
        <tr>
          <td style="text-align: center; padding: 5px;"><%= my_booking.code %></td>
          <td style="text-align: center; padding: 5px;"><%= my_booking.room.name %></td>
          <td style="text-align: center; padding: 5px;"><%= l(my_booking.check_in_date) %></td>
          <td style="text-align: center; padding: 5px;"><%= l(my_booking.check_out_date) %></td>
          <td style="text-align: center; padding: 5px;"><%= my_booking.guests_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @my_bookings.empty? %>
    <p>Você não tem reservas no momento.</p>
  <% end %>
</section> 