<section>
<% if @booking.finished? %>
  <div>
    <h2>Pagamento da Hospedagem <%= @booking.code %></h2>
    <p><strong>Check-out realizado em: </strong><%= l(@booking.check_out_done, format: '%d/%m/%Y, às %H:%M horas') %></p>
    <p><strong>Período da hospedagem: </strong>
      <%= l(@booking.check_in_done, format: '%d/%m/%Y') %> a <%= l(@booking.check_out_done, format: '%d/%m/%Y') %></p>
    <p><strong>Valor total a pagar: </strong><%= number_to_currency(@payment_amount, unit: "R$", separator: ",", delimiter: ".") %></p>
  </div>

  <div>
    <%= render partial: 'shared/error_messages', locals: { object: @booking } %>
  </div>

  <div>
    <%= form_with(model: @booking, url: register_payment_booking_path(@booking), method: :patch) do |f| %>
      <div class="row">
        <div class="field col-md-4">
          <%=f.label :payment_amount, class: "form-label" %>
          <%=f.number_field :payment_amount, class: "form-control" %>
        </div>
        <div class="field col-md-4">
          <%=f.label :payment_method, class: "form-label" %>
          <%=f.text_field :payment_method, class: "form-control" %>
        </div>
      </div>
      <br>

      <div>
        <%=f.submit 'Registrar Pagamento', class: "btn btn-primary" %>
      </div>      
    <% end %>
  </div>

<% end %> 
</section>