<section>
  <h2><%= @room.name %> disponível entre os dias <%= l(@booking.check_in_date) %> - <%= l(@booking.check_out_date) %> </h2>
  <p><strong>Valor total das diárias: </strong><%= number_to_currency(@total_price, unit: "R$", separator: ",", delimiter: ".") %></p>
  <p>Para prosseguir com a reserva, você precisa criar sua conta ou fazer login: </p>
  <%= link_to 'Prosseguir com a Reserva', new_user_registration_path %>
</section>