<section>
  <h2>Reserva <%= @booking.code %></h2>
  <p><strong>Quarto Reservado: </strong><%= @booking.room.name %></p>
  <p><strong>Data de entrada: </strong><%= l(@booking.check_in_date) %></p>
  <p><strong>Data de saída: </strong><%= l(@booking.check_out_date) %></p>
  <p><strong>Número de hóspedes: </strong><%= @booking.guests_number %></p>
  <p><strong>Status da Reserva: </strong><%= t(@booking.status) %></p>
  <% if @booking.pending? %>
    <%= button_to 'Realizar Check-in', set_in_progress_booking_path(@booking) %>
  <% elsif @booking.in_progress? %>
    <p><strong>Check-in realizado em: </strong><%= l(@booking.check_in_done, format: '%d/%m/%Y, às %H:%M horas') %></p>
    <%= button_to 'Cancelar Reserva', set_in_progress_booking_path(@booking) if Date.today >= (@booking.check_in_date + 2) %>
   <% end %> 
</section>
