<section class="latest-guesthouses-list">
  <div class="guesthouse-container">
    <% @latest_guesthouses.each do |lg| %>
      <div class="l-guesthouse">
        <h2><%= link_to lg.brand_name, lg %></h2>
        <p><%= lg.city %></p>
      </div>
    <% end %>
  </div>
</section>

<hr>

<section>
<% @rest_guesthouses.each do |rg| %>
  <div>
    <h2><%= link_to rg.brand_name, rg %></h2>
    <p><%= rg.city %></p>
  </div>
<% end %>
</section>

<section>
  <% if @guesthouses.empty? %>
    <p>Não existem pousadas cadastradas.</p>
  <% end %>
</section>

<section class="menu-cities">
<h4>Menu de Cidades<h4>
<% @guesthouse_cities.each do |gc| %>
  <ul>
    <li><%= link_to gc, guesthouses_by_city_path(gc) %></li>
  </ul>
<% end %>
</section>