<section class="latest-guesthouses-list">
  <div class="guesthouse-container">
    <% @latest_guesthouses.each do |latest_guesthouse| %>
      <div class="l-guesthouse">
        <h2><%= link_to latest_guesthouse.brand_name, latest_guesthouse %></h2>
        <p><%= latest_guesthouse.city %></p>
      </div>
    <% end %>
  </div>
</section>

<hr>

<section class="guesthouses-list">
<% @guesthouses.each do |guesthouse| %>
  <div>
    <h2><%= link_to guesthouse.brand_name, guesthouse %></h2>
    <p><%= guesthouse.city %></p>
  </div>
<% end %>
</section>

<section>
  <% if @guesthouses.empty? %>
    <p>Não existem pousadas cadastradas.</p>
  <% end %>
</section>

<section class="menu-cities">
<h4>Menu de Cidades<h4>
<% @guesthouse_cities.each do |guesthouse_city| %>
  <ul>
    <li><%= link_to guesthouse_city, root_path %></li>
  </ul>
<% end %>
</section>