<div>
  <%= render partial: 'shared/error_messages', locals: { object: @room } %>
</div>

<%= form_with(model: [@guesthouse, @room]) do |f| %>
<div class="field col-md-4">
  <%= f.label :name, class: "form-label" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="field col-md-4">
  <%= f.label :description, class: "form-label" %>
  <%= f.text_area :description, class: "form-control" %>
</div>
<div class="field col-md-4">
  <%= f.label :area, class: "form-label" %>
  <%= f.number_field :area, class: "form-control" %>
</div>
<div class="field col-md-4">
  <%= f.label :max_guest, class: "form-label" %>
  <%= f.number_field :max_guest, class: "form-control" %>
</div>
<div class="field col-md-4">
  <%= f.label :default_price, class: "form-label" %>
  <%= f.number_field :default_price, class: "form-control" %>
</div>
<div class="form-check">
  <%= f.label :bathroom, class: "form-check-label" %>
  <%= f.check_box :bathroom, class: "form-check-input" %>
</div>
<div class="form-check">
  <%= f.label :balcony, class: "form-check-label" %>
  <%= f.check_box :balcony, class: "form-check-input" %>
</div>
<div class="form-check">
  <%= f.label :air_conditioner, class: "form-check-label" %>
  <%= f.check_box :air_conditioner, class: "form-check-input" %>
</div>
<div class="form-check">
  <%= f.label :tv, class: "form-check-label" %>
  <%= f.check_box :tv, class: "form-check-input" %>
</div>
<div class="form-check">
  <%= f.label :wardrobe, class: "form-check-label" %>
  <%= f.check_box :wardrobe, class: "form-check-input" %>
</div>
<div class="form-check">
  <%= f.label :safe, class: "form-check-label" %>
  <%= f.check_box :safe, class: "form-check-input" %>
</div>
<div class="form-check">
  <%= f.label :accessible, class: "form-check-label" %>
  <%= f.check_box :accessible, class: "form-check-input" %>
</div>
<br>
<div>
  <%= f.submit 'Salvar', class: "btn btn-primary" %>
</div>
<% end %>
<br>
<div>
  <%= link_to 'Voltar', my_guesthouse_path %>
</div>
