<% if @room.errors.any? %>
<p>Verifique os erros abaixo:</p>
  <ul>
    <% @room.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@guesthouse, @room]) do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div>
  <%= f.label :area %>
  <%= f.number_field :area %>
</div>
<div>
  <%= f.label :max_guest %>
  <%= f.number_field :max_guest %>
</div>
<div>
  <%= f.label :daily_price %>
  <%= f.number_field :daily_price %>
</div>
<div>
  <%= f.label :bathroom %>
  <%= f.check_box :bathroom %>
</div>
<div>
  <%= f.label :balcony %>
  <%= f.check_box :balcony %>
</div>
<div>
  <%= f.label :air_conditioner %>
  <%= f.check_box :air_conditioner %>
</div>
<div>
  <%= f.label :tv %>
  <%= f.check_box :tv %>
</div>
<div>
  <%= f.label :wardrobe %>
  <%= f.check_box :wardrobe %>
</div>
<div>
  <%= f.label :safe %>
  <%= f.check_box :safe %>
</div>
<div>
  <%= f.label :accessible %>
  <%= f.check_box :accessible %>
</div>
<div>
  <%= f.submit 'Salvar' %>
</div>
<% end %>

<div>
  <%= link_to 'Voltar', my_guesthouse_path %>
</div>
