<h2><%= @room.name %></h2>
<p>Descrição: <%= @room.description %></p>
<p>Área (m²): <%= @room.area %></p>
<p>Quantidade max. de hóspedes: <%= @room.max_guest %></p>
<p>Valor da diária: <%= number_to_currency(@room.daily_price, unit: "R$", separator: ",", delimiter: ".") %></p>
<h4><strong>O que esse quarto oferece:</strong></h4>
<% @room.attributes.each do |attribute, value| %>
  <% if value == true %>
    <ul>
      <li><%= Room.human_attribute_name(attribute) %></li>
    </ul>
  <% end %>
<% end %>

<% if user_signed_in? && current_user.host? #&& @room.guesthouse.user == current_user %>
  <div>
    <%= link_to 'Editar', edit_room_path(@room.id) %> | 
    <%= link_to 'Voltar', my_guesthouse_path %>
  </div>
<% else %>
<div>
  <%= link_to 'Voltar', root_path %>
</div>
<% end %>
