<% if @custom_price.errors.any? %>
<p>Verifique os erros abaixo:</p>
  <ul>
    <% @custom_price.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@room, @custom_price]) do |f| %>
<div>
  <%= f.label :begin_date %>
  <%= f.date_field :begin_date %>
</div>
<div>
  <%= f.label :end_date %>
  <%= f.date_field :end_date %>
</div>
<div>
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>
<div>
  <%= f.submit 'Salvar' %>
</div>
<% end %>

<div>
  <%= link_to 'Voltar', room_path(@room) %>
</div>
