<h2>Responder Avaliação da Hospedagem <%= @booking.code %></h2>
<div>
  <%= render partial: 'shared/error_messages', locals: { object: @review } %>
</div>

<%= form_with(model: @review, url: register_answer_review_path(@review), method: :patch) do |f| %>
  <div class="field col-md-4">
    <%= f.label :answer, class: "form-label" %>
    <%= f.text_area :answer, class: "form-control" %>
  </div>
  <br>
  
  <div>
  <%= f.submit 'Salvar', class: "btn btn-primary" %>
  </div>
<% end %>