<!DOCTYPE html>
<html>
  <head>
    <title>GuesthouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Pousadaria</h1>
      <% end %>
      <nav>
          <% if user_signed_in? %>
            <% if current_user.host? && current_user.guesthouse %>           
              <%= link_to 'Minha Pousada', my_guesthouse_path %> |
              <%= link_to 'Reservas', bookings_guesthouse_path(current_user.guesthouse) %> |
              <%= link_to 'Estadias Ativas', active_stays_guesthouse_path(current_user.guesthouse) %> |
            <% elsif current_user.guest? %>
              <%= link_to 'Minhas Reservas', my_bookings_path %> | 
            <% end %>           
              <%= current_user.name %> |
              <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Entrar na Conta', new_user_session_path %>
              <%= form_with(url: search_guesthouses_path, method: :get) do |f| %>
              <%= f.label :query, 'Buscar Pousada' %>
              <%= f.text_field :query %>
              <%= f.submit 'Buscar' %>
            <% end %>
          <% end %>
      </nav>
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
